/*
This is general css file. It consist of 4 parts:
- NESSESARY
it controls defoult
- Header 
styles of head element

- Main 
stlyles of main content

- Footer
Stlyles of footer
*/


/*-- NESSESARY --*/

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	min-width: 1240px;
	font-family: 'fira_sansregular';
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

ul {
	list-style: none outside none;
	padding: 0;
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 1200px;
}


/*-- END of NESSESARY --*/


/*-- HEADER --*/

.header {
	background: #8cc34b;
	box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.96);

	margin-bottom: 50px;
}

.header .container {
	position: relative;
	height: 90px;
}

.user_info {
	position: absolute;
	top: 14px;
	left: 0;
	margin-left: 20px;
}

.user_pic {
	height: 60px;
	width: 60px;
	overflow: hidden;
	border: 4px solid white;
	border-radius: 50%;
	border-color: aliceblue;
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;
}

.user_data {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}

.user_name {
	font-family: 'fira_sansmedium';
	font-size: 21px;
	line-height: 28px;
}

.user_email {
	font-size: 14px;
	line-height: 28px;
}

a {
	color: #fffAAA;
	background: -webkit-linear-gradient(45deg,#ccc,#666);
	background: linear-gradient(45deg,#ccc,#666);
}

.socials {
	position: absolute;
	right: 0;
	top: 30px;
}

.socials_icon {
	font-size: 30px;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-left: 20px;
	color: #ddedc9;
}

.socials_icon:hover {
	color: #fff;
}


/*-- END of HEADER --*/


/*----------------------------------------------------*/


/*-- MAIN --*/


/*Main -> About_User*/

.main_container {
	margin: 0 auto;
	width: 960px;
	padding-bottom: 50px;
}

.about_wrapper {
display: inline-block;
}

.about_header {
	height: 80px;
	text-align: center;
	margin-bottom: 46px;
}

.main_title {
	font-family: 'fira_sansmedium';
	font-size: 42px;
	line-height: 28px;
}

.second_title {
	font-family: 'fira_sanslight';
	font-size: 21px;
	line-height: 80px;
	color: #727272;
}

.about_body_personal {
	float: left;
	display: inline-block;
	width: 470px;
	margin-right: 20px;
}

.personal_right {
	width: 170px;
	display: inline-block;
	vertical-align: top;
}

.personal_left {
	display: inline-block;
	width: 290px;
}

.left_header {
	font-size: 21px;
	margin-bottom: 21px;
	line-height: 28px;
}

.left_text {
	font-family: 'fira_sanslight';
	font-size: 14px;
	line-height: 21px;
	color: #727272;
}

.about_body_exp {
	display: inline-block;
	width: 470px;
}


/*End of Main -> About_User*/


/*Main -> List_of_courses*/

.courses_wrap {
	background: url('../images/bg.png') 0 0 repeat;
	padding-top: 80px;
}

.course_item {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
	margin-right: 10px;
	margin-bottom: 20px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.course_item:hover {
	background: #8cc34b;
}

.course_item:hover .item_text_title {
	color: #8cc34b;
}

.course_item_text {
	background: #ffffff;
}

.item_text_title {
	padding: 20px;
	font-size: 21px;
	line-height: 28px;
}

.item_text_description {
	font-size: 14px;
	line-height: 21px;
	padding: 0 20px 0 20px;
}

.item_text_duration {
	color: #b6b6b6;
	padding-left: 20px;
	font-size: 14px;
	line-height: 50px;
}

.course_item_checkbox {
	height: 60px;
	line-height: 60px;
	background: #f6f7f2;
	font-size: 18px;
	padding-left: 20px;
}

.checkbox {
	display: none;
}

.checkbox-custom {
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #727272;
	border-radius: 2px;
}

.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom {
	border: 2px solid #acd37e;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url("../images/checked.png");
}

.greenBackgound {
	background: #ecf4e3;
}

.complete_wrap {
	height: 300px;
	background-color: #f8f9f6;
	color: #8cc34b;
	font-size: 41px;
	line-height: 300px;
	text-align: center;
	display: none;
}


/*End of Main -> List_of_courses*/


/*-- END of MAIN --*/

.empty {
	height: 70px;
}


/*-- FOOTER --*/

.footer {
	height: 70px;
	background: #000000;
	margin-top: -70px;
	font-family: 'fira_sansregular';
	font-size: 14px;
	line-height: 21px;
	text-align: center;
}

.futer_container {
	margin-top: 10px;
	display: inline-block;
/*	text-align: center;*/
	width: 520px;
	color: #a9a9a9;
}


/*-- END of FOOTER --*/